@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

body{
	font-family: 'Roboto', sans-serif;
	background: #eeeeee url(../img/productman-assets/bg_gradient.png) /*center center */no-repeat;
	background-size: cover;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}
.ba-section {
	margin: 110px 150px 0 0px;
	max-height: 1200px;
}

/*Header*/

.ba-header__logo {
	font-weight: 900;
	font-size: 48px;
	text-decoration: none;
	color: #303030;
}

.ba-header__logo:hover {
	color: #e10011;
}

.ba-header__top {
	padding-top: 45px;
}

.ba-header__nav {
	float: right;
}

.ba-header__nav ul {
	list-style: none;
}

.ba-header__nav ul li {
	float: left;
}

.ba-header__nav ul li a {
	text-decoration: none;
	color: #303030;
	font-weight: 400;
	font-size: 18px;
	display: block;
	margin-left: 50px;
}

.ba-header__nav ul li:first-child a {
	margin-left: 0;
}

.ba-header__nav ul li:last-child a {
	margin-left: 35px;
}

.ba-header__nav ul li a:hover {
	color: #e10011;
}

/*Black and white*/

.ba-section__image {
	float: right;
	margin-right: 35px;
	margin-left: 83px;
}

.ba-section__title {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 150px;
	text-align: right;
	margin-bottom: 25px;
	margin-top: 0px;
	line-height: 1;
	color: #303030;
	letter-spacing: 0.6;
}

.ba-section__text {
	font-weight: 300;
	font-size: 24px;
	color: #303030;
	text-align: right;
	line-height: 1.5;
	margin-top: 0px;
	margin-bottom: 0px; 
	letter-spacing: 0.6;
} 

.ba-section__viev {
	font-weight: 700;
	font-size: 24px;
	color: #e10011;
	text-align: left;
	text-decoration: none;
	letter-spacing: 0.6;
	margin-top: 25px;
	float: right;
}

.ba-section__viev:hover {
	color: #303030;
}

/* Circle*/

.ba-section__nav {
	float: right;
	margin-top: 85px;
	margin-bottom: 85px;
}

.ba-section__nav ul {
	list-style: none;
	text-align: center;
}

.ba-section__nav ul li {
	float: left;
}

.ba-section__nav ul li a {
	text-decoration: none;
	color: #303030;
	display: block;
	margin-left: 10px;
	
}

.ba-section__nav ul li:first-child a {
	margin-left: 0px;
}

.ba-section__nav ul li:last-child a {
	margin-right: 459px;
}

.ba-section__nav ul li a:hover {
	color: #e10011;
}

.ba-section__nav .ba-circle__active {
	color: #e10011;
}

/*Featured*/
.ba-section__featured {
	background-color: #ffffff;
	margin-left: 100px;
}

.ba-section__product {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #303030;
	text-align: center;
	font-size: 48px;
	padding-top: 118px;
	margin-bottom: 0;
}

.ba-section__star {
	margin-top: 17px;
	margin-left: 440px;
}

.ba-section__texte {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #303030;
	text-align: center;
	line-height: 1.3;
	margin-bottom: 75px;
}

.ba-section_foto {
	/*width: 1300px;*/
	/*display: inline-block;*/
	/*margin: 0 20px 75px 25px;*/
	padding-bottom: 70px;
}
.ba-section_foto a {
	text-decoration: none;
	color: #fff;
}
.ba-section__foto1 {
	background: url(../img/featured-product/foto1.jpg) 50% no-repeat;
	width: 692px;
	height: 387px;
}

.ba-section__foto1:hover {
	background: url(../img/foto1-hover.jpg) no-repeat;
	transition: all .1s ease-in;
	border-radius: 3px;
}
.ba-section__foto2 {
	background: url(../img/featured-product/foto2.jpg) 50% no-repeat;
	width: 328px;
	height: 387px;
}

.ba-section__foto2:hover {
	background: url(../img/foto3-hover.jpg) no-repeat;
	transition: all .1s ease-in;
}
.ba-section__foto3 {
	background: url(../img/featured-product/foto3.jpg) 50% no-repeat;
	width: 328px;
	height: 387px;
}

.ba-section__foto3:hover {
	background: url(../img/foto3-hover.jpg) no-repeat;
	transition: all .1s ease-in;
}

.ba-foto__title {
	font-weight: 700;
	font-size: 30px;
	width: 328px;
	height: 387px;
	opacity: 0;
	margin: 0;
	position: relative;
	
}

.ba-foto__title p {
	border-bottom: 5px solid #fff;
	margin: 0;
	width: 225px;
	padding-bottom: 12px;
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.ba-foto__title:hover {
	opacity: 1;
}

.ba-section__foto4 {
	background: url(../img/featured-product/foto4.jpg) 50% no-repeat;
	width: 328px;
	height: 387px;
}
.ba-section__foto4:hover {
	background: url(../img/foto3-hover.jpg) no-repeat;
	transition: all .1s ease-in;
}

.ba-section__foto5 {
	background: url(../img/featured-product/foto5.jpg) 50% no-repeat;
	width: 328px;
	height: 387px;
}

.ba-section__foto5:hover {
	background: url(../img/foto3-hover.jpg) no-repeat;
	transition: all .1s ease-in;
}

/*News*/

.ba-section__news {
	position: relative;
	font-family: 'Raleway', sans-serif;
}

.ba-section__news-container {
	position: absolute;
	left: 23%;
	right: 23%;
	width: 775px;
	text-align: center;
	margin: 0;
}

.ba-section__news-title {
	font-weight: 900;
	font-size: 48px;
	letter-spacing: .025em;
	color: #303030;
	text-transform: uppercase;
	margin-top: 100px;
	}
	
.ba-section__news-info {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: .025em;
	color: #303030;
	margin-top: 25px;
}

.ba-section__form {
	margin-top: 35px;
	margin-bottom: 100px;
	position: relative;
}

.ba-section__news-envelope {
	position: absolute;
	left: 50px;
	bottom: 16px;
	color: #979797;
}

input[type=email] {
	background-color: #fff;
	border: none;
	border-right: 0;
	line-height: 48px;
	font-size: 12px; 
	font-weight: 700;
	padding: 0px 20px;
	padding-left: 45px;
	vertical-align: middle;
	width: 495px;
	border-radius: 50px 0 0 50px;

}

input[type=email]:focus {
	outline: none;
	border: 1px solid #7beec7;

} 
input[type=email]:focus:invalid {
	outline: none;
	border: 1px solid #f00;

} 

input[type=submit] {
	background-color: #e10011;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 48px;
	border: none;
	vertical-align: middle;
	width: 210px;
	cursor: pointer;
	border-radius: 0 50px 50px 0;

}

.ba-section__social-icons {
	list-style: none;
	display: inline-block;
	margin-bottom: 60px;
}

.ba-section__social-item {
	display: inline-block;
	background-color: #fff;
	font-size: 34px;
	letter-spacing: .025em;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	line-height: 78px;
	margin-left: 17px;
}

.ba-section__social-item a {
	color: #979797;
}

.ba-section__footer {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: .025em;
	color: #979797;
}

.ba-section__footer span {
	color: #303030;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
